.header {
  margin-bottom: 3em;
  display: flex;
  padding: 0 1em;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
}

.right-side {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.right-side .userdrodown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 64px;
  padding: 0.5em 1em;
}
.right-side .username {
  margin: 0;
  margin-right: 1em;
}